body{
    padding: 0 100px;
    text-align: center;
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
}
.top{
    background-color: rgb(255, 255, 255);
    padding: 5px;
    font-family: cursive;
    font-size: xx-large;
    color: goldenrod;
}
main{
    background-color: rgb(255, 255, 255);
    border: 8px solid rgb(14, 89, 139);
    padding: 20px;
    color: rgb(46, 46, 46);
}
.bottom{
    padding-top: 50px;
}
.cursive{
    font-family: cursive;
}
.overline{
    
    text-decoration: overline ;
    text-decoration-color: goldenrod;
}
.underline{
    text-decoration: underline rgb(255, 166, 0);
    text-decoration-thickness: 3px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
hr{
    max-width: 100%;
}
#resize{
     font-size: 30px;
}
#size{
    font-size: 30px;
    color: rgb(46, 33, 0);
}
#csize{
    font-size: 30px;
}
#bgdiv{
    border: 4px solid goldenrod;
    border-style: double;
}
#color{
    color: goldenrod;
}
/*{
    border: 1px solid red;
}